{
    "presets": ["@babel/preset-react", "@babel/typescript"],
    "plugins": [
        [
            "babel-plugin-import",
            {
                "libraryName": "@material-ui/core",
                "libraryDirectory": "esm", // or '' if your bundler does not support ES modules
                "camel2DashComponentName": false
            },
            "core"
        ],
        [
            "babel-plugin-import",
            {
                "libraryName": "@material-ui/icons",
                "libraryDirectory": "esm", // or '' if your bundler does not support ES modules
                "camel2DashComponentName": false
            },
            "icons"
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-syntax-dynamic-import",
        "react-hot-loader/babel"
    ],
    "comments": true
}
