@import '/@/theme.less';
.container {
    background: #fff;
}

.hero {
    position: relative;
    display: flex;
    height: 260px;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}

.cover {
    height: 260px;
    width: 260px;
}

.body {
    display: flex;
    height: calc(100vh - 260px - 50px);
}

.people {
    display: flex;
    height: calc(100% - 48px);
    width: 260px;
    flex-direction: column;
    padding: 24px 0;
    padding-left: 20px;

    img {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        margin-bottom: 4px;
        border-radius: 32px;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 14px;
        font-family: @google-font;
        font-weight: lighter;
        color: #4a4a4a;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
}

.list {
    flex: 1;
    font-family: @google-font;
    color: #a2a2a2;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        line-height: 40px;
        border-bottom: thin solid #a2a2a2;

        span {
            width: 67.5px;
            border-bottom: 2px solid #000;
            font-family: @google-font;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        span:first-child {
            width: 120px;
            text-align: left;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                color: @color-primary;
            }
        }

        span:last-child {
            text-align: left;
        }
    }

    ul {
        height: calc(100vh - 260px - 50px - 40px);
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        overflow-y: auto;
    }
}

.nothing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: @primary-font;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #000;
}
