@import '/@/theme.less';

.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    color: #000;
    background: none;
    z-index: 99;

    section {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 1;
    }

    aside {
        display: flex;
        padding-left: 20px;
        padding-right: 24px;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            padding: 0;
        }
    }
}

.cover {
    height: 32px;
    width: 32px;
    transition: 0.2s;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: thin solid rgba(255, 255, 255, 0);
        transition: 0.2s;

        &:hover {
            border-bottom-color: #000;
        }
    }
}

.title {
    margin-bottom: 3px !important;

    a {
        padding-bottom: 1px;
        max-width: 200px;
        font-size: 13px;
        color: #081600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.author {
    margin-top: 2px;
    font-size: 11px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
        color: #000;

        &:after {
            content: '/';
            display: inline-block;
            margin: 0 5px;
        }
        &:last-child:after {
            content: none;
        }
    }
}

.action {
    i {
        display: inline-block;
        height: 24px;
        width: 24px;
        line-height: 24px;
        margin-right: 12px;
        font-size: 16px;
        color: #000;
        text-align: center;
        cursor: pointer;
        transition: 0.2s;
    }

    & i:hover {
        color: @hoverColor;
    }

    & svg.liked {
        color: @color-grape;
        text-shadow: 0 0 24px @color-grape;
    }
}

.highquality {
    display: inline-block;
    padding: 2px 6px;
    margin-right: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: @google-font;
    font-size: 12px;
    color: @color-dribbble;
    border: thin solid @color-dribbble;
    text-shadow: 0 0 24px @color-dribbble;
    transform: translateY(-3px);
    zoom: 0.8;
}

.mode {
    color: #000;
}

.text {
    display: inline-block;
    padding: 2px 4px;
    margin-right: 20px;
    border-top: thin solid #333;
    border-bottom: thin solid #333;
    font-size: 11px;
    color: inherit;
    text-transform: uppercase;
    transform: translateY(-2px);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: @hoverColor;
        border-color: @hoverColor;
    }
}

.controls {
    display: inline-block;
    margin-left: 16px;
    color: #000;
}
